.garfield
{
    width: 80%;
    height: 80%;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.garfield_text
{
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}

.garfield_link
{
    color: rgb(64,190,170);
    font-size: 30px;
    font-family: Verdana;
    text-decoration: none;

}

